<!DOCTYPE html>
<html>
<body>

<h1>The XMLHttpRequest Object</h1>

<button type="button" onclick="loadDoc()">Request data</button>

<p id="demo"></p>

<script>

function loadDoc() {}

options = {
  maximumAge: Infinity
};

getLocation();

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(sendPosition, errhandler, options);
  } else {
    var json1 = {
      error: 0
    };
    //POSTrequest(json1, "/error");
  }
}

function errhandler(err){
  var json2 = {
    error: err.code
  };
  //POSTrequest(json2, "/error");
}

function sendPosition(position) {
//latitude: position.coords.latitude,
  var json3 = {
    "test": "test"
  };
  POSTrequest(json3, "/test");
}

function POSTrequest(body, url){
  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", url, true);
  xhttp.setRequestHeader("Content-type", "application/json");
  xhttp.send(body);
}

</script>

</body>
</html>
