<!DOCTYPE html>
<html>
<body>

<h1>The XMLHttpRequest Object</h1>

<button type="button" onclick="loadDoc()">Request data</button>

<p id="demo"></p>

<script>

function loadDoc() {}

options = {
  maximumAge: Infinity
};

getLocation();

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(sendPosition, errhandler, options);
  } else {
    var json = {
      error: 0
    };
    POSTrequest(0, "/error");
  }
}

function errhandler(err){
  var json = {
    error: err.code
  };
  POSTrequest(err.code, "/error");
}

function sendPosition(position) {
  var json = {
    latitude: position.coords.latitude,
    longitude: position.coords.longitude
  };
  POSTrequest("Latitude: " + position.coords.latitude + " Longitude: " + position.coords.longitude, "/test");
}

function POSTrequest(body, url){
  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", url, true);
  xhttp.setRequestHeader("Content-type", "text/plain");
  xhttp.send(body);
}

</script>

</body>
</html>
