<!DOCTYPE html>
<html>
<body>

<h1>The XMLHttpRequest Object</h1>

<button type="button" onclick="loadDoc()">Request data</button>

<p id="demo"></p>

<script>

function loadDoc() {}

options = {
  maximumAge: Infinity
};

getLocation();

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(sendPosition, errhandler, options);
  } else {
    var json = {
      error: 0
    };
    POSTrequest(json, "/error");
  }
}

function errhandler(err){
  var json = {
    error: err.code
  };
  POSTrequest(json, "/error");
}

function sendPosition(position) {
  var json = {
    "longitude": position.coords.longitude,
    "latitude": position.coords.latitude
  };
  POSTrequest(json, "/location");
}

function POSTrequest(body, url){
  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", url, true);
  xhttp.setRequestHeader("Content-type", "application/json");
  xhttp.send(JSON.stringify(body));
}

</script>

</body>
</html>
