<!DOCTYPE html>
<html>
<body>

<p id="demo"></p>

<script>
options = {
  enableHighAccuracy: false,
  maximumAge: Infinity,
  timeout : Infinity;
};

setInterval(getLocation, 1000*60*60);

//getLocation();


const starting = new Promise(resolve => {
    resolve = setTimeout(getLocation, 2000);
  })
  .then((res) => {clearTimeout(res);});

function getLocation() {

  // if (!"geolocation" in navigator)
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(sendPosition, errhandler, options);
  } else {
    var json = {
      error: 0
    };
    POSTrequest(json, "/error");
  }
}

function errhandler(err){
  var json = {
    error: err.code
  };
  POSTrequest(json, "/location/error");
}

function sendPosition(position) {
  var json = {
    "longitude": position.coords.longitude,
    "latitude": position.coords.latitude
  };
  POSTrequest(json, "/location");
}

function POSTrequest(body, url){
  var xhttp = new XMLHttpRequest();
  xhttp.open("POST", url, true);
  xhttp.setRequestHeader("Content-type", "application/json");
  xhttp.send(JSON.stringify(body));
}

</script>

</body>
</html>
